In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in the data from a JSON file
df = pd.read_json('indeed-data-jobs-FINAL.json')
df.sample(5)

,job_title,company,location,is_remote,salary,post_date,date_accessed,job_description
589,"Data Engineer, Oncology Translational Research",Novartis,"Cambridge, MA 02139",0,,9 days ago,2021-03-05,799 million! That's how many lives our product...
261,Data Analyst-Reporting,Integrity Marketing Group,"Dallas, TX",0,,2 days ago,2021-03-05,Company Description Company Description Integr...
83,Data Scientist (Remote),SIL International,"Dallas, TX 75236",1,$24 - $26 an hour,30+ days ago,2021-03-05,Position's Responsibilities-Ingests and proces...
593,Data Engineer Remote,Pinnacle Alliances,"Baltimore, MD",1,$65 - $70 an hour,16 days ago,2021-03-05,DATA ENGINEERRemoteUSC/GC§ Data engineers buil...
870,Machine Learning Application Engineer in Healt...,Oak Ridge National Laboratory,"Oak Ridge, TN 37831",0,,7 days ago,2021-03-05,Requisition Id 5187 Overview and Purpose: We a...

In [3]:
# these were probably removed so I'll remove them from the data
df[df.job_description == '']

,job_title,company,location,is_remote,salary,post_date,date_accessed,job_description
303,,,,0,,,2021-03-05,
463,,,,0,,,2021-03-05,
586,,,,0,,,2021-03-05,
755,,,,0,,,2021-03-05,

In [4]:
# REMOVED ROWS ABOVE
df = df[df.job_description != '']

In [5]:
# rows, columns
df.shape

(898, 8)

In [6]:
# data summary
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 898 entries, 0 to 901
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_title        898 non-null    object
 1   company          898 non-null    object
 2   location         898 non-null    object
 3   is_remote        898 non-null    int64
 4   salary           898 non-null    object
 5   post_date        898 non-null    object
 6   date_accessed    898 non-null    object
 7   job_description  898 non-null    object
dtypes: int64(1), object(7)
memory usage: 63.1+ KB

### I'll need to create a script that uses the job title to create the label
I already see that data entry isn't what I'm looking for so I'll need to iterate over all entries to purge jobs like this that don't fall into 1 of my 4 categories

In [7]:
df.job_title

0                                      Data Entry
1                                  Data Scientist
2                                  Data Scientist
3                                  Data Scientist
4      Early Career Data Scientist - Applied Math
                          ...
897      Machine Learning Engineer, Ads Relevance
898                 Machine Learning: AI Engineer
899                     Machine Learning Engineer
900             Applied Machine Learning Engineer
901                     Machine Learning Engineer
Name: job_title, Length: 898, dtype: object

In [17]:
pd.DataFrame(df.loc[0]).T

,job_title,company,location,is_remote,salary,post_date,date_accessed,job_description
0,Data Entry,TransPerfect Translations Inc.,Remote,1,,6 days ago,2021-03-05,We are looking for Data Entry Clerks to join o...

In [ ]:
### Regex